@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes colorAnimation {
    0%{
        background-color: #fffb00;
    }
    100%{
        background-color: rgb(255, 0, 0);
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}

@media only screen and (max-width: 992px) {
    .vertical{
        display:none !important
    }
    .box{
        display:none !important
    }
  }
.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count :1;
    animation-fill-mode : forwards;
}
.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 10vw;
    height: 10vh;
    font-size: 1.3vw;
    text-align: center;
    box-shadow: 10px 10px 5px;
    background-color: #fffb00;
    animation: colorAnimation;
    animation-iteration-count :infinite;
    animation-duration: 2s;
    transition: width 2s, height 2s, transform 2s;
}
.box >p{
    display: none;
    
}
.box:hover {
    width: 15vw;
    height: 15vh;
    transform: rotate(360deg);
}
.box:hover >p{
    display:contents;
    font-size: 1vw;
}
.heading{
    font-family:Brush Script MT, Brush Script Std, cursive !important;
    font-size : 60px !important;
}
.lead{
    font-size : 15px !important;
}
 .about_us_section{
     padding-top: 100px;
     padding-bottom: 100px;
 }
 .background_banner{
    background-image: url("image/background_banner.svg");
 }
 .typewriter{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 7s steps(40, end),
      blink-caret .75s step-end infinite;
  }
